.Meaning {
  font-family: "Raleway", sans-serif;
}

.Meaning h3 {
  font-size: 26px;
  line-height: 1.5;
  font-weight: bold;
  color: #1a3263;
  font-family: "Playfair Display", serif;
}

.Meaning .example {
  opacity: 0.8;
  font-style: italic;
  margin-top: 10px;
  font-size: 14px;
}
