.Synonyms {
  margin: 15px 0 0;
  padding: 0;
}

.Synonyms li {
  text-align: left;
  display: inline-block;
  font-size: 14px;
  line-height: 1;
  color: #1a3263;
  border: 1px solid #ddd;
  text-decoration: none;
  padding: 10px 20px;
  margin-right: 10px;
  margin-top: 10px;
  border-radius: 20px;
  font-family: "Raleway", sans-serif;
}
